<div class="p-3">
  <a class="btn btn-secondary" routerLink="/" role="button">Back</a>
</div>
<div style="display: grid; grid-template-columns: auto 1fr;" class="p-5">
  <img style="aspect-ratio: 1/1; height: 400px; object-fit: cover;" src="{{this.addForm.get('image')?.value ? this.addForm.get('image')?.value : noImage}}" alt="">
  <form class="p-5" [formGroup]="addForm" (ngSubmit)="create()">
    <div class="mb-3">
      <label for="titleInput" class="form-label">Title</label>
      <input type="text" class="form-control" id="titleInput" formControlName='title'>
    </div>
    <div class="mb-3">
      <label for="titleInput" class="form-label">Image URL</label>
      <input type="text" class="form-control" id="titleInput" formControlName='image'>
    </div>
    <div class="mb-3">
      <label for="titleInput" class="form-label">Description</label>
      <input type="text" class="form-control" id="titleInput" formControlName='desc'>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>